html{
	font-size: 62.5%;
	line-height: 1.5;
}
body {
	font-size: 1.6rem;
}
.container {
	margin:0 auto;
	width:96rem;
}




/**Helper classes**/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}